// TYPE

typeface-primary= "LibreFranklinMedium", Arial, sans-serif
typeface-primary-italic= "LibreFranklinMedium", Arial, sans-serif
typeface-secondary= "Nothing"

// COLORS

color-blue= rgba(0, 27, 130, 1)
color-light-blue= rgba(0, 27, 130, .2)
color-white= #ffffff
color-grey-50= rgba(0,0,0,.5)

// BREAKPOINTS (matches flexboxgrid)

phone=	"(min-width: 30em)"
tablet=	"(min-width: 48em)"
laptop=	"(min-width: 62em)"
desktop=	"(min-width: 75em)"
bigscreen=	"(min-width: 100em)"

// SPACING UNITS

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px
unit12=		96px
unit13=		104px
unit14=		112px
unit15=		120px
